.log {
  background: rgb(68, 68, 68);
  background: linear-gradient(
    222deg,
    rgba(68, 68, 68, 1) 0%,
    rgba(49, 49, 85, 1) 59%,
    rgba(9, 9, 121, 0.9808298319327731) 100%
  );
  padding: 30px;
}
.divmain {
  display: flex;
  justify-content: center;
  line-height: 3;
}
.formclas {
  background: white;
  padding: 25px 50px;
  border-radius: 7px;
  width: 30%;
}
.formclas h3 {
  color: #1213b0;
}
.formclas input {
  cursor: pointer;
  border: none;
  background: #e8f0fe;
}
.formFild {
  display: flex;
  flex-direction: column;
}
.formFild span {
  background: #ff9797;
  padding: 2px;
  margin-top: 6px;
  line-height: 1;
  width: fit-content;
  color: red;
  display: block;
  border-radius: 2px;
}
.formFild input {
  height: 26px;
  border-radius: 3px;
}
.formbtn {
  display: flex;
  justify-content: space-between;
  margin-top: 11px;
}

.formbtn button {
  width: 30%;
  background: blue;
  border: none;
  border-radius: 10px;
  color: #fff;
  font-weight: 600;
  cursor: pointer;
}
.formbtn a {
  color: blue;
  font-weight: 600;
  text-decoration: none;
  cursor: pointer;
}
